In [7]:
import pandas as pd 
import numpy as np

In [12]:
s=pd.Series([1,2,3,4,5,np.nan],index=['a','b','c','d','e','f'])

In [13]:
s

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

Creating a DataFrame by passing a NumPy array with a datetime index using date_range() and labeled columns

In [15]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.359694  0.678755 -0.345179  2.072243
2013-01-02 -1.006871 -0.016808  0.714444 -0.495183
2013-01-03 -1.866086 -0.122808 -1.539229 -1.385340
2013-01-04 -0.531140 -0.260815 -1.700286  0.246269
2013-01-05  0.762016 -0.788579  1.796842 -0.925495
2013-01-06  0.572976  0.638742  0.712550  1.173058

In [18]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo