## Importing Pandas

In [1]:
import pandas as pd 
import numpy as np

## Series 
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:
s = pd.Series(data, index=index)
Here, data can be many different things:

a Python dict

an ndarray

a scalar value (like 5)

The passed index is a list of axis labels. Thus, this separates into a few cases depending on what data is:

## Series from Lists

In [3]:
#Strings
Country=["India","USA","UK","Canada","Australia"]
pd.Series(Country)

0        India
1          USA
2           UK
3       Canada
4    Australia
dtype: object

In [4]:
#Integers
Age=[23,45,67,89,34]
pd.Series(Age)

0    23
1    45
2    67
3    89
4    34
dtype: int64

In [6]:
#Custom Index 
marks=[23,45,67,89,34]
subjects=['Maths','Science','English','History','Geography']
pd.Series(marks, index=subjects)

#We have a parameter called index which can be used to assign custom index to the series in Pandas

Maths        23
Science      45
English      67
History      89
Geography    34
dtype: int64

In [8]:
# Setting a name
# In the above example, we can provide a name to the series that we have created 
Result=pd.Series(marks, index=subjects,name='Marks')
#We have a parameter called name which can be used to assign a name to the series in Pandas

In [9]:
Result

Maths        23
Science      45
English      67
History      89
Geography    34
Name: Marks, dtype: int64

## Series from Dictionary

In [15]:
marks={'Maths':23,'Science':45,'English':67,'History':89,'Geography':34}
marks_series=pd.Series(marks,name='Marks')
marks_series

Maths        23
Science      45
English      67
History      89
Geography    34
Name: Marks, dtype: int64

## Series Attributes

In [12]:
# Size
marks_series.size

5

In [13]:
#dtype
marks_series.dtype

dtype('int64')

In [16]:
#name
marks_series.name

'Marks'

In [17]:
#is Unique 
marks_series.is_unique

True

In [19]:
#Index
marks_series.index

Index(['Maths', 'Science', 'English', 'History', 'Geography'], dtype='object')

In [20]:
#Values
marks_series.values

array([23, 45, 67, 89, 34])

## Series using read_csv

In [29]:
# with one column
pd.read_csv('/Users/abhasjaiswal/Desktop/Data-Analysis-and-Visualisation/Pandas/datasets/subs.csv')
type(pd.read_csv('/Users/abhasjaiswal/Desktop/Data-Analysis-and-Visualisation/Pandas/datasets/subs.csv'))
#If we simply execute the above code, then it will display the data in the form of a table i.e. it is a pandas dataframe not series 
#If we want to read the data in the form of a series, then we need to use squeeze=True parameter in the read_csv() function
subs=pd.read_csv('/Users/abhasjaiswal/Desktop/Data-Analysis-and-Visualisation/Pandas/datasets/subs.csv').squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [42]:
# with two columns
Kohli=pd.read_csv('/Users/abhasjaiswal/Desktop/Data-Analysis-and-Visualisation/Pandas/datasets/kohli_ipl.csv',index_col='match_no').squeeze()
Kohli

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [43]:
movies=pd.read_csv('/Users/abhasjaiswal/Desktop/Data-Analysis-and-Visualisation/Pandas/datasets/bollywood.csv',index_col='movie').squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

# Series Methods

In [40]:
# Head and Tail 
subs.head() #By default, it will display the first 5 rows of the series

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [44]:
Kohli.head(3) # We can specify the number of rows that we want to display from the top of the series

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [45]:
Kohli.tail() #By default, it will display the last 5 rows of the series

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [47]:
#sample
Kohli.sample()
# it will display a random row from the series
# We can also specify the number of random rows that we want to display from the series

match_no
173    29
Name: runs, dtype: int64

In [48]:
# value_counts
movies.value_counts()
#It will display the count of each unique value in the series

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [50]:
# sort_values
Kohli.sort_values()
Kohli.sort_values(ascending=False)  
# It will sort the series in ascending order
# We can also sort the series is descending order by using ascending=False parameter in the sort_values() function

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [54]:
Kohli.sort_values(ascending=False).head(1).values
# It is important to note that the data will not be changed untill we pass inplace parameter as True

array([113])

In [55]:
# sort_index 
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [56]:
movies
# As you can see here the data is not changed because we have not passed inplace parameter as True

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [58]:
movies.sort_index(inplace=True) 
# Now the data is changed because we have passed inplace parameter as True
movies

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [60]:
movies.sort_values(inplace=True)    
movies

movie
Qaidi Band                            Aadar Jain
Roar: Tigers of the Sundarbans      Aadil Chahal
Lipstick Under My Burkha            Aahana Kumra
Raat Gayi Baat Gayi?                Aamir Bashir
3 Idiots                              Aamir Khan
                                        ...
Dil Toh Deewana Hai                  Zeenat Aman
Strings of Passion                   Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Name: lead, Length: 1500, dtype: object

## Series Maths Methods

In [63]:
# Count 
# Note that it doesn't count the missing values
Kohli.count()

215

In [64]:
# Sum
subs.sum()

49510

In [65]:
subs.mean()

135.64383561643837

In [66]:
subs.median()

123.0

In [67]:
subs.std()

62.6750230372527

In [68]:
subs.min()

33

In [74]:
subs.max()

396

In [70]:
movies.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [72]:
subs.std()

62.6750230372527

In [73]:
Kohli.var()

688.0024777222343

In [76]:
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [77]:
subs.info()

<class 'pandas.core.series.Series'>
RangeIndex: 365 entries, 0 to 364
Series name: Subscribers gained
Non-Null Count  Dtype
--------------  -----
365 non-null    int64
dtypes: int64(1)
memory usage: 3.0 KB

## Series Indexing

In [80]:
# integer based indexing
x=pd.Series([12,34,56,78,90,23,45,67,89,34])
x[0] # and so on

12

In [85]:
#Slicing 
movies.iloc[0:8]

movie
Qaidi Band                          Aadar Jain
Roar: Tigers of the Sundarbans    Aadil Chahal
Lipstick Under My Burkha          Aahana Kumra
Raat Gayi Baat Gayi?              Aamir Bashir
3 Idiots                            Aamir Khan
Mangal Pandey: The Rising           Aamir Khan
PK (film)                           Aamir Khan
Ghajini (2008 film)                 Aamir Khan
Name: lead, dtype: object

## Editing Series

In [91]:
# Using Indexing 
marks_series.iloc[1]=100
marks_series

Maths         23
Science      100
English       67
History       89
Geography     34
Name: Marks, dtype: int64

In [93]:
# what if an Index does not exist  
marks_series.loc['Physics']=90
marks_series 
# it will create a new index and assign the value to it

Maths         23
Science      100
English       67
History       89
Geography     34
Physics       90
Name: Marks, dtype: int64

In [95]:
# Using Slicing
marks_series.iloc[1:3]=[10,10]
marks_series

Maths        23
Science      10
English      10
History      89
Geography    34
Physics      90
Name: Marks, dtype: int64

## Series with Python Functionalities

In [101]:
#len/type/dir/sorted/max/min 
print(len(subs))
print(type(marks_series))
print(dir(subs))
print(sorted(subs))
print(max(subs))
print(min(subs))

365
<class 'pandas.core.series.Series'>
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_cacher', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_expanddim_from_mgr', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']
[33, 33, 35, 37, 39, 40, 40, 40, 40, 42, 42, 43, 44, 44, 44, 45, 46, 46, 48, 49, 49, 49, 49, 50, 50, 50, 51, 54, 56, 56, 56, 56, 57, 61, 62, 64, 65, 65, 66, 66, 66, 66, 67, 68, 70, 70, 70, 71, 71, 72, 72, 72, 72, 72, 73, 74, 74, 75, 76, 76, 76, 76, 77, 77, 78, 78, 78, 79, 79, 80, 80, 80, 81, 81, 82, 82, 83, 83, 83, 84, 84, 84, 85, 86, 86, 86, 87, 87, 87, 87, 88, 88, 88, 88, 88, 89, 89, 89, 90, 90, 90, 90, 91, 92, 92, 92, 93, 93, 93, 93, 95, 95, 96, 96, 96, 96, 97, 97, 98, 98, 99, 99, 100, 100, 100, 101, 101, 101, 102, 102, 103, 103, 104, 104, 104, 105, 105, 105, 105, 105, 105, 105, 105, 105, 108, 108, 108, 108, 108, 108, 109, 109, 110, 110, 110, 111, 111, 112, 113, 113, 113, 114, 114, 114, 114, 115, 115, 115, 115, 117, 117, 117, 118, 118, 119, 119, 119, 119, 120, 122, 123, 123, 123, 123, 123, 124, 125, 126, 127, 128, 128, 129, 130, 131, 131, 132, 132, 134, 134, 134, 135, 135, 136, 136, 136, 137, 138, 138, 138, 139, 140, 144, 145, 146, 146, 146, 146, 147, 149, 150, 150, 150, 150, 151, 152, 152, 152, 153, 153, 153, 154, 154, 154, 155, 155, 156, 156, 156, 156, 157, 157, 157, 157, 158, 158, 159, 159, 160, 160, 160, 160, 162, 164, 166, 167, 167, 168, 170, 170, 170, 170, 171, 172, 172, 173, 173, 173, 174, 174, 175, 175, 176, 176, 177, 178, 179, 179, 180, 180, 180, 182, 183, 183, 183, 184, 184, 184, 185, 185, 185, 185, 186, 186, 186, 188, 189, 190, 190, 192, 192, 192, 196, 196, 196, 197, 197, 202, 202, 202, 203, 204, 206, 207, 209, 210, 210, 211, 212, 213, 214, 216, 219, 220, 221, 221, 222, 222, 224, 225, 225, 226, 227, 228, 229, 230, 231, 233, 236, 236, 237, 241, 243, 244, 245, 247, 249, 254, 254, 258, 259, 259, 261, 261, 265, 267, 268, 269, 276, 276, 290, 295, 301, 306, 312, 396]
396
33

In [102]:
# type conversion 
subs.astype(float)

0       48.0
1       57.0
2       40.0
3       43.0
4       44.0
       ...
360    231.0
361    226.0
362    155.0
363    144.0
364    172.0
Name: Subscribers gained, Length: 365, dtype: float64